name: PR Build

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: # Enable manually starting a build, with optional input parameters
    inputs:
      debug_enabled:
        type: boolean
        description: 'Start an SSH debug session as the last step of the build'
        required: false
        default: false

jobs:
  builds:
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest]

    name: Build SSH on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dotnet versions
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            3.1.x
            6.0.x

      - name: Use global.json dotnet version
        uses: actions/setup-dotnet@v2
        with:
          global-json-file: global.json

      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'

      - name: Restore npm packages
        run: npm install

      - name: Restore dotnet packages
        run: dotnet restore

      - name: Build TypeScript packages
        run: npm run build-ts -- --release

      - name: Build dotnet packages
        run: dotnet build -c Release --no-restore

      - name: Pack TypeScript packages
        run: npm run pack-ts

      - name: Pack dotnet packages
        run: dotnet pack -c Release --no-restore

      - name: Test TypeScript
        run: npm run test-ts
        continue-on-error: true

      - name: Test .NET Framework
        if: matrix.os == 'windows-latest'
        run: npm run test-cs -- --release --serial --framework net48
        continue-on-error: true

      - name: Test dotnet 3.1
        run: npm run test-cs -- --release --serial --framework netcoreapp3.1
        continue-on-error: true

      - name: Test dotnet 6.0
        run: npm run test-cs -- --release --serial --framework net6.0
        continue-on-error: true

      - name: Publish test results
        uses: dorny/test-reporter@v1
        with:
          name: test (${{ runner.os }})
          path: out/TestResults/*.trx
          reporter: dotnet-trx

      - name: Start SSH debug session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
            limit-access-to-actor: true
